.btn {
  outline: none;
  text-align: center;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  min-width: 100px;
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
  border: 1px solid transparent;

  .ion {
    vertical-align: middle;
    display: inline-block;
    margin-right: 15px;
  }

  &--primary {
    color: color('blue');
    border-color: color('blue');
  }

  &--active {
    color: color('white');
    background: color('blue');
  }

  &--gray {
    padding: 7px 20px;
    color: color('gray-medium');
    border-color: color('blue-light');

    .ion {
      color: color('blue-light');
    }
  }

  &--lg {
    text-transform: none;
    font-weight: 400;
    font-size: 15px;

    .ion {
      font-size: 28px;
    }
  }
}

@include min-screen(mq('desktop')) {
  .btn {
    &--primary:hover {
      color: color('white');
      background: color('blue');
    }

    &--gray:hover {
      color: color('white');
      background: color('gray-medium');
    }

    &--active:hover {
      border-color: color('gray');
      background: color('gray');
    }
  }
}
