.header {
  padding: 80px 20px 20px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

// logout
.header-logout {
  float: right;
  margin: 0 0 5px;
}

// upload
.header-upload {
  clear: both;
  z-index: 200;
  position: relative;
  text-align: center;
  max-width: 230px;
  margin: 0 auto;
}

.header-upload-field {
  opacity: 0;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}

// profile
.header-profile-img {
  width: 170px;
  overflow: hidden;
  position: relative;
  margin-right: 25px;
  z-index: 100;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  img {
    top: 50%;
    left: 50%;
    height: 100%;
    max-width: initial;
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
  }
}

.header-profile-info {
  font-size: 14px;

  .ion {
    width: 16px;
    font-size: 20px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
  }

  .ion-ios-telephone-outline {
    font-size: 22px;
  }
}

.header-profile-name {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 15px;
  text-transform: none;
}

// reviews
.header-profile-reviews {
  color: color('gray-medium');
}

.header-profile-reviews-rate,
.header-profile-reviews-total {
  display: inline-block;
  vertical-align: middle;
}

.header-profile-reviews-rate {
  margin-right: 22px;

  .ion {
    font-size: 24px;
  }
}

.header-profile-reviews-total {
  font-size: 13px;

  span {
    margin-right: 12px;
    font-weight: 600;
    display: inline-block;
  }
}

// nav
.header-nav {
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background: color('white');
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}

.header-nav-list {
  li {
    display: inline-block;
    margin-right: 22px;
  }

  a {
    font-size: 15px;
    padding: 20px 0;
    position: relative;
    display: inline-block;
    text-transform: uppercase;

    &:after {
      width: 0;
      height: 2px;
      content: '';
      left: 0;
      bottom: 0;
      position: absolute;
      background: color('blue');
      transition: all ease-in-out 0.3s;
    }

    &.active {
      &:after {
        width: 100%;
      }
    }
  }
}

// followers
.header-nav-followers-btn,
.header-nav-followers-total {
  display: inline-block;
  vertical-align: middle;
}

.header-nav-followers-btn {
  font-size: 28px;
  margin-right: 14px;
  display: inline-block;
  color: color('gray-medium2');
}

.header-nav-followers-total {
  display: inline-block;
  font-size: 13px;
  color: color('gray-medium');

  span {
    font-size: 14px;
    color: color('gray');
    font-weight: 600;
    margin-right: 4px;
    display: inline-block;
  }
}

// Hovers
@include min-screen(mq('desktop')) {
  .header-nav-list {
    a:hover:after {
      width: 100%;
    }
  }

  .header-nav-followers-btn:hover {
    color: color('gray');
  }

  .header-upload:hover {
    .btn {
      color: color('white');
      background: color('gray-medium');
    }
  }
}

// Responsive
@include min-screen(mq('mobile')) {
  .header {
    margin: 80px 0 35px;
    padding: 25px;
    background: color('white');
  }

  // upload
  .header-upload {
    top: 15px;
  }

  // profile
  .header-profile {
    display: flex;
    clear: both;
    position: relative;
  }

  .header-profile-info,
  .header-profile-reviews {
    padding-top: 35px;
  }

  .header-profile-info-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .header-profile-address {
    margin: 0 0 10px;
    display: block;
  }

  .header-profile-reviews {
    margin-left: auto;
  }

  // nav
  .header-nav {
    padding-left: 220px;
  }

  // followers
  .header-nav-followers {
    top: -40px;
    position: relative;
    padding-left: 194px;
  }
}

@include min-screen(mq('tablet')) {
  // followers
  .header-nav-followers {
    position: absolute;
    right: 25px;
    bottom: 11px;
    z-index: 200;
    top: auto;
    padding: 0;
  }
}

@include max-screen(mq('mobile')) {
  .header {
    padding-bottom: 75px;
  }

  .header-logout {
    position: absolute;
    top: 20px;
    right: 0;
    border: none;
  }

  .header-profile-img {
    width: 130px;
    margin: 0 auto 20px;

    img {
      top: 0;
      width: 300px;
      height: auto;
      left: -100px;
      max-width: 300px;
      transform: translate(0, 0);
    }
  }

  .header-profile-name {
    text-align: center;
  }

  .header-profile-info {
    font-size: 12px;
  }

  .header-profile-phone,
  .header-profile-address {
    margin-bottom: 7px;

    .ion {
      color: color('gray-medium');
    }
  }

  // reviews
  .header-profile-reviews-rate {
    .ion {
      color: color('blue');
    }
  }

  .header-profile-reviews-total {
    display: block;
    margin: 7px 0 17px;

    span {
      font-size: 14px;
      color: color('gray');
      margin-right: 7px;
    }
  }

  // followers
  .header-nav-followers-btn {
    margin-right: 7px;
  }

  // nav
  .header-nav {
    padding-right: 20px;
  }

  .header-nav-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0 20px;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      flex: 0 0 auto;
    }

    a {
      font-size: 14px;
    }
  }
}
