<div class="view view-about">
  <h3 class="view-title">About</h3>

  <button class="btn-form-edit-mobile show-mobile">
    <em class="ion ion-edit"></em>
  </button>

  <section class="view-about-info">
    <form class="form-profile" id="formUser" method="post">
      <ul class="form-profile-info">

        <li class="form-profile-item">
          <section class="form-profile-item-info">
            <p class="form-profile-item-text">
              <span class="name-user"></span>
            </p>
            <button type="button" title="Edit" class="form-profile-item-btn hide-mobile">
              <em class="ion ion-edit"></em>
            </button>
            <div class="form-profile-edit">
              <div class="form-profile-edit-field hide-mobile">
                <label for="nameUser">Full Name</label>
                <input required type="text" name="name" id="nameUser" class="form-profile-edit-input name-user">
              </div>
              <div class="form-profile-edit-field show-mobile">
                <label for="firstNameUser">First Name</label>
                <input required type="text" name="name" id="firstNameUser" class="form-profile-edit-input first-name-user">
              </div>
              <div class="form-profile-edit-field show-mobile">
                <label for="lastNameUser">Last Name</label>
                <input required type="text" name="name" id="lastNameUser" class="form-profile-edit-input last-name-user">
              </div>
              <button type="submit" class="btn btn--primary btn--active hide-mobile">Save</button>
              <button type="button" class="btn btn--primary form-profile-item-cancel hide-mobile">Cancel</button>
            </div>
          </section>
        </li>

        <li class="form-profile-item">
          <section class="form-profile-item-info">
            <p class="form-profile-item-text">
              <em class="ion ion-android-globe"></em>
              <span class="website-user"></span>
            </p>
            <button type="button" title="Edit" class="form-profile-item-btn hide-mobile">
              <em class="ion ion-edit"></em>
            </button>
            <div class="form-profile-edit">
              <div class="form-profile-edit-field">
                <label for="websiteUser">Website</label>
                <input required type="text" name="name" id="websiteUser" class="form-profile-edit-input website-user">
              </div>
              <button type="submit" class="btn btn--primary btn--active hide-mobile">Save</button>
              <button type="button" class="btn btn--primary form-profile-item-cancel hide-mobile">Cancel</button>
            </div>
          </section>
        </li>

        <li class="form-profile-item">
          <section class="form-profile-item-info">
            <p class="form-profile-item-text">
              <em class="ion ion-ios-telephone-outline"></em>
              <span class="phone-user"></span>
            </p>
            <button type="button" title="Edit" class="form-profile-item-btn hide-mobile">
              <em class="ion ion-edit"></em>
            </button>
            <div class="form-profile-edit">
              <div class="form-profile-edit-field">
                <label for="phoneUser">Phone Number</label>
                <input required type="text" name="name" id="phoneUser" class="form-profile-edit-input phone-user">
              </div>
              <button type="submit" class="btn btn--primary btn--active hide-mobile">Save</button>
              <button type="button" class="btn btn--primary form-profile-item-cancel hide-mobile">Cancel</button>
            </div>
          </section>
        </li>

        <li class="form-profile-item">
          <section class="form-profile-item-info">
            <p class="form-profile-item-text">
              <em class="ion ion-ios-home-outline"></em>
              <span class="address-user"></span>
            </p>
            <button type="button" title="Edit" class="form-profile-item-btn hide-mobile">
              <em class="ion ion-edit"></em>
            </button>
            <div class="form-profile-edit">
              <div class="form-profile-edit-field">
                <label for="addressUser">City, State & Zip</label>
                <input required type="text" name="name" id="addressUser" class="form-profile-edit-input address-user">
              </div>
              <button type="submit" class="btn btn--primary btn--active hide-mobile">Save</button>
              <button type="button" class="btn btn--primary form-profile-item-cancel hide-mobile">Cancel</button>
            </div>
          </section>
        </li>
      </ul>

      <div class="form-profile-actions show-mobile">
        <button type="button" class="form-profile-actions-btn" id="btnCancelEditMobile">Cancel</button>
        <button type="submit" class="form-profile-actions-btn">Save</button>
      </div>
    </form>
  </section>
</div>