.container {
  width: 100%;
  max-width: 1175px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;

  &:after {
    display: table;
    content: '';
    clear: both;
    overflow: hidden;
  }
}
