@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

body {
  color: color('gray');
  background: color('gray-light');
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  transition: all 300ms ease;
  color: inherit;
  font-weight: inherit;
}

p,
li {
  font-weight: inherit;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

input {
  outline: none;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  transition: all 300ms ease;
}

strong {
  font-weight: 700;
}

@include max-screen(mq('mobile')) {
  .hide-mobile {
    display: none !important;
  }
}

@include min-screen(mq('mobile')) {
  .show-mobile {
    display: none !important;
  }
}
