<header class="header">
  <a href="#" class="btn btn--primary header-logout">Log out</a>

  <form class="header-upload hide-mobile">
    <input type="file" class="header-upload-field" id="uploadCoverField">
    <button type="button" class="btn btn--gray btn--lg header-upload-btn">
      <em class="ion ion-ios-camera"></em> Upload Cover Image
    </button>
  </form>

  <section class="header-profile">
    <figure class="header-profile-img">
      <img src="" alt="user picture" class="picture-user">
    </figure>

    <article class="header-profile-info">
      <h2 class="header-profile-name name-user"></h2>
      <div class="header-profile-info-wrapper">
        <p class="header-profile-phone">
          <em class="ion ion-ios-telephone-outline"></em>
          <span class="phone-user"></span>
        </p>
        <address class="header-profile-address">
          <em class="ion ion-ios-location-outline"></em>
          <span class="address-user"></span>
        </address>
      </div>
    </article>

    <section class="header-profile-reviews">
      <div class="header-profile-reviews-rate">
        <em class="ion ion-android-star"></em>
        <em class="ion ion-android-star"></em>
        <em class="ion ion-android-star"></em>
        <em class="ion ion-android-star"></em>
        <em class="ion ion-android-star-outline"></em>
      </div>

      <p class="header-profile-reviews-total">
        <span class="reviews-user"></span> Reviews</p>
    </section>
  </section>

  <section class="header-nav-followers">
    <button type="button" title="Follow" class="header-nav-followers-btn">
      <em class="ion ion-ios-plus"></em>
    </button>

    <p class="header-nav-followers-total">
      <span class="followers-user"></span> Followers
    </p>
  </section>

  <nav class="header-nav">
    <ul class="header-nav-list">
      <li>
        <a href="#about" class="nav-item active">About</a>
      </li>
      <li>
        <a href="#settings" class="nav-item">Settings</a>
      </li>
      <li>
        <a href="#option1" class="nav-item">Option1</a>
      </li>
      <li>
        <a href="#option2" class="nav-item">Option2</a>
      </li>
      <li>
        <a href="#option3" class="nav-item">Option3</a>
      </li>
    </ul>
  </nav>

</header>