// form profile
.form-profile-item-info {
  font-size: 14px;

  .ion {
    width: 22px;
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
    color: color('gray-medium');
  }
}

.form-profile-item {
  position: relative;

  &:first-child {
    span {
      font-weight: 600;
      font-size: 16px;
    }
  }
}

.form-profile-edit-field {
  position: relative;
  margin: 0 0 20px;

  label {
    left: 0;
    bottom: 100%;
    font-size: 16px;
    position: absolute;
    color: color('gray-medium');
    transform: translate3d(0, 25px, 0) scale(1);
    transform-origin: left top;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  input {
    width: 100%;
    height: 35px;
    border: none;
    font-size: 16px;
    position: relative;
    z-index: 100;
    color: color('gray');
    background: transparent;
    transition: all ease-in-out 0.3s;
    border-bottom: 1px solid color('gray-medium2');
  }

  &--focused {
    label {
      text-transform: uppercase;
      transform: translate3d(0, 6px, 0) scale(0.75);
    }
  }
}

// Hovers
@include min-screen(mq('desktop')) {
  .form-profile-item-btn:hover {
    background: color('blue');

    .ion {
      color: color('white');
    }
  }
}

// Responsive
@include min-screen(mq('mobile')) {
  // form profile
  .form-profile-item-info {
    cursor: default;
    margin-bottom: 1px;
    position: relative;
    display: inline-block;
    padding: 9px 60px 9px 10px;
    background: color('gray-light');

    .ion {
      transition: all ease-in-out 0.3s;
    }
  }

  .form-profile-item-btn {
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
    display: flex;
    font-size: 18px;
    position: absolute;
    text-align: center;
    background: #ecf1f5;
    justify-content: center;
    align-items: center;
    color: color('gray-medium');

    &.active {
      opacity: 0;
    }
  }

  .form-profile-edit {
    top: -15px;
    left: 100%;
    opacity: 0;
    z-index: 100;
    min-width: 300px;
    position: absolute;
    visibility: hidden;
    padding: 35px 20px 20px;
    background: color('white');
    transition: all ease-in-out 0.3s;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.18);

    .btn {
      margin-right: 17px;
    }

    &:before {
      width: 0;
      height: 0;
      content: '';
      top: 20px;
      left: -13px;
      position: absolute;
      border-style: solid;
      border-width: 11.5px 13px 11.5px 0;
      border-color: transparent color('white') transparent transparent;
    }

    &.active {
      left: 90%;
      opacity: 1;
      visibility: visible;
    }
  }
}

@include max-screen(mq('mobile')) {
  .form-profile-edit,
  .form-profile-actions {
    display: none;
  }

  .form-profile-edit {
    margin-bottom: 28px;
  }

  .form-profile-item {
    margin-bottom: 17px;

    &:first-child {
      .form-profile-edit {
        padding-top: 15px;
      }
    }
  }

  .form-profile-item-info {
    .ion-ios-telephone-outline,
    .ion-ios-home-outline {
      font-size: 22px;
    }
  }

  .btn-form-edit-mobile {
    width: 30px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    background: #ecf1f5;
    color: color('gray-medium');
  }

  .form-profile-actions,
  .btn-form-edit-mobile {
    top: 25px;
    right: 30px;
    z-index: 100;
    position: absolute;
  }

  .form-profile-actions-btn {
    font-size: 14px;
    color: color('blue');
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 22px;
    }
  }
}
