// View
.view {
  padding: 45px 40px;
  border-radius: 4px;
  position: relative;
  background: color('white');
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

.view-title {
  font-size: 24px;
  margin: 0 0 30px;
  text-transform: none;
  color: color('gray-medium');
}

// Responsives
@include max-screen(mq('mobile')) {
  .view {
    padding: 25px 20px;
    margin: 15px auto 35px;
    box-shadow: none;
    border-radius: 0;
    border-top: 1px solid color('blue-light');
    border-bottom: 1px solid color('blue-light');
  }

  .view-title {
    font-size: 20px;
    margin: 0 0 20px;
  }
}
