/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

address {
  font-style: normal; }

a {
  outline: none; }

.clear {
  clear: both;
  height: 0; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-weight: normal; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  width: 100%; }

body {
  color: #3f454a;
  background: #f5f8f8;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: inherit;
  font-weight: inherit; }

p,
li {
  font-weight: inherit; }

img {
  max-width: 100%;
  display: block;
  margin: 0 auto; }

input {
  outline: none; }

button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }

strong {
  font-weight: 700; }

@media only screen and (max-width: 639px) {
  .hide-mobile {
    display: none !important; } }

@media only screen and (min-width: 639px) {
  .show-mobile {
    display: none !important; } }

.container {
  width: 100%;
  max-width: 1175px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block; }
  .container:after {
    display: table;
    content: '';
    clear: both;
    overflow: hidden; }

.btn {
  outline: none;
  text-align: center;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  min-width: 100px;
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  border: 1px solid transparent; }
  .btn .ion {
    vertical-align: middle;
    display: inline-block;
    margin-right: 15px; }
  .btn--primary {
    color: #007ee5;
    border-color: #007ee5; }
  .btn--active {
    color: #fff;
    background: #007ee5; }
  .btn--gray {
    padding: 7px 20px;
    color: #727e88;
    border-color: #d0dce7; }
    .btn--gray .ion {
      color: #d0dce7; }
  .btn--lg {
    text-transform: none;
    font-weight: 400;
    font-size: 15px; }
    .btn--lg .ion {
      font-size: 28px; }

@media only screen and (min-width: 1100px) {
  .btn--primary:hover {
    color: #fff;
    background: #007ee5; }
  .btn--gray:hover {
    color: #fff;
    background: #727e88; }
  .btn--active:hover {
    border-color: #3f454a;
    background: #3f454a; } }

.header {
  padding: 80px 20px 20px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.header-logout {
  float: right;
  margin: 0 0 5px; }

.header-upload {
  clear: both;
  z-index: 200;
  position: relative;
  text-align: center;
  max-width: 230px;
  margin: 0 auto; }

.header-upload-field {
  opacity: 0;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer; }

.header-profile-img {
  width: 170px;
  overflow: hidden;
  position: relative;
  margin-right: 25px;
  z-index: 100;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25); }
  .header-profile-img:before {
    content: '';
    display: block;
    padding-top: 100%; }
  .header-profile-img img {
    top: 50%;
    left: 50%;
    height: 100%;
    max-width: initial;
    position: absolute;
    display: block;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.header-profile-info {
  font-size: 14px; }
  .header-profile-info .ion {
    width: 16px;
    font-size: 20px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle; }
  .header-profile-info .ion-ios-telephone-outline {
    font-size: 22px; }

.header-profile-name {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 15px;
  text-transform: none; }

.header-profile-reviews {
  color: #727e88; }

.header-profile-reviews-rate,
.header-profile-reviews-total {
  display: inline-block;
  vertical-align: middle; }

.header-profile-reviews-rate {
  margin-right: 22px; }
  .header-profile-reviews-rate .ion {
    font-size: 24px; }

.header-profile-reviews-total {
  font-size: 13px; }
  .header-profile-reviews-total span {
    margin-right: 12px;
    font-weight: 600;
    display: inline-block; }

.header-nav {
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15); }

.header-nav-list li {
  display: inline-block;
  margin-right: 22px; }

.header-nav-list a {
  font-size: 15px;
  padding: 20px 0;
  position: relative;
  display: inline-block;
  text-transform: uppercase; }
  .header-nav-list a:after {
    width: 0;
    height: 2px;
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    background: #007ee5;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s; }
  .header-nav-list a.active:after {
    width: 100%; }

.header-nav-followers-btn,
.header-nav-followers-total {
  display: inline-block;
  vertical-align: middle; }

.header-nav-followers-btn {
  font-size: 28px;
  margin-right: 14px;
  display: inline-block;
  color: #a6b0b7; }

.header-nav-followers-total {
  display: inline-block;
  font-size: 13px;
  color: #727e88; }
  .header-nav-followers-total span {
    font-size: 14px;
    color: #3f454a;
    font-weight: 600;
    margin-right: 4px;
    display: inline-block; }

@media only screen and (min-width: 1100px) {
  .header-nav-list a:hover:after {
    width: 100%; }
  .header-nav-followers-btn:hover {
    color: #3f454a; }
  .header-upload:hover .btn {
    color: #fff;
    background: #727e88; } }

@media only screen and (min-width: 639px) {
  .header {
    margin: 80px 0 35px;
    padding: 25px;
    background: #fff; }
  .header-upload {
    top: 15px; }
  .header-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    clear: both;
    position: relative; }
  .header-profile-info,
  .header-profile-reviews {
    padding-top: 35px; }
  .header-profile-info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .header-profile-address {
    margin: 0 0 10px;
    display: block; }
  .header-profile-reviews {
    margin-left: auto; }
  .header-nav {
    padding-left: 220px; }
  .header-nav-followers {
    top: -40px;
    position: relative;
    padding-left: 194px; } }

@media only screen and (min-width: 820px) {
  .header-nav-followers {
    position: absolute;
    right: 25px;
    bottom: 11px;
    z-index: 200;
    top: auto;
    padding: 0; } }

@media only screen and (max-width: 639px) {
  .header {
    padding-bottom: 75px; }
  .header-logout {
    position: absolute;
    top: 20px;
    right: 0;
    border: none; }
  .header-profile-img {
    width: 130px;
    margin: 0 auto 20px; }
    .header-profile-img img {
      top: 0;
      width: 300px;
      height: auto;
      left: -100px;
      max-width: 300px;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
  .header-profile-name {
    text-align: center; }
  .header-profile-info {
    font-size: 12px; }
  .header-profile-phone,
  .header-profile-address {
    margin-bottom: 7px; }
    .header-profile-phone .ion,
    .header-profile-address .ion {
      color: #727e88; }
  .header-profile-reviews-rate .ion {
    color: #007ee5; }
  .header-profile-reviews-total {
    display: block;
    margin: 7px 0 17px; }
    .header-profile-reviews-total span {
      font-size: 14px;
      color: #3f454a;
      margin-right: 7px; }
  .header-nav-followers-btn {
    margin-right: 7px; }
  .header-nav {
    padding-right: 20px; }
  .header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0 20px;
    -webkit-overflow-scrolling: touch; }
    .header-nav-list::-webkit-scrollbar {
      display: none; }
    .header-nav-list li {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto; }
    .header-nav-list a {
      font-size: 14px; } }

.view {
  padding: 45px 40px;
  border-radius: 4px;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12); }

.view-title {
  font-size: 24px;
  margin: 0 0 30px;
  text-transform: none;
  color: #727e88; }

@media only screen and (max-width: 639px) {
  .view {
    padding: 25px 20px;
    margin: 15px auto 35px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    border-top: 1px solid #d0dce7;
    border-bottom: 1px solid #d0dce7; }
  .view-title {
    font-size: 20px;
    margin: 0 0 20px; } }

.form-profile-item-info {
  font-size: 14px; }
  .form-profile-item-info .ion {
    width: 22px;
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
    color: #727e88; }

.form-profile-item {
  position: relative; }
  .form-profile-item:first-child span {
    font-weight: 600;
    font-size: 16px; }

.form-profile-edit-field {
  position: relative;
  margin: 0 0 20px; }
  .form-profile-edit-field label {
    left: 0;
    bottom: 100%;
    font-size: 16px;
    position: absolute;
    color: #727e88;
    -webkit-transform: translate3d(0, 25px, 0) scale(1);
            transform: translate3d(0, 25px, 0) scale(1);
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .form-profile-edit-field input {
    width: 100%;
    height: 35px;
    border: none;
    font-size: 16px;
    position: relative;
    z-index: 100;
    color: #3f454a;
    background: transparent;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    border-bottom: 1px solid #a6b0b7; }
  .form-profile-edit-field--focused label {
    text-transform: uppercase;
    -webkit-transform: translate3d(0, 6px, 0) scale(0.75);
            transform: translate3d(0, 6px, 0) scale(0.75); }

@media only screen and (min-width: 1100px) {
  .form-profile-item-btn:hover {
    background: #007ee5; }
    .form-profile-item-btn:hover .ion {
      color: #fff; } }

@media only screen and (min-width: 639px) {
  .form-profile-item-info {
    cursor: default;
    margin-bottom: 1px;
    position: relative;
    display: inline-block;
    padding: 9px 60px 9px 10px;
    background: #f5f8f8; }
    .form-profile-item-info .ion {
      -webkit-transition: all ease-in-out 0.3s;
      transition: all ease-in-out 0.3s; }
  .form-profile-item-btn {
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    position: absolute;
    text-align: center;
    background: #ecf1f5;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #727e88; }
    .form-profile-item-btn.active {
      opacity: 0; }
  .form-profile-edit {
    top: -15px;
    left: 100%;
    opacity: 0;
    z-index: 100;
    min-width: 300px;
    position: absolute;
    visibility: hidden;
    padding: 35px 20px 20px;
    background: #fff;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    -webkit-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.18);
            box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.18); }
    .form-profile-edit .btn {
      margin-right: 17px; }
    .form-profile-edit:before {
      width: 0;
      height: 0;
      content: '';
      top: 20px;
      left: -13px;
      position: absolute;
      border-style: solid;
      border-width: 11.5px 13px 11.5px 0;
      border-color: transparent #fff transparent transparent; }
    .form-profile-edit.active {
      left: 90%;
      opacity: 1;
      visibility: visible; } }

@media only screen and (max-width: 639px) {
  .form-profile-edit,
  .form-profile-actions {
    display: none; }
  .form-profile-edit {
    margin-bottom: 28px; }
  .form-profile-item {
    margin-bottom: 17px; }
    .form-profile-item:first-child .form-profile-edit {
      padding-top: 15px; }
  .form-profile-item-info .ion-ios-telephone-outline,
  .form-profile-item-info .ion-ios-home-outline {
    font-size: 22px; }
  .btn-form-edit-mobile {
    width: 30px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    background: #ecf1f5;
    color: #727e88; }
  .form-profile-actions,
  .btn-form-edit-mobile {
    top: 25px;
    right: 30px;
    z-index: 100;
    position: absolute; }
  .form-profile-actions-btn {
    font-size: 14px;
    color: #007ee5;
    text-transform: uppercase; }
    .form-profile-actions-btn:not(:last-child) {
      margin-right: 22px; } }

/*# sourceMappingURL=styles.css.map */
